<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">
	<listeners>
		<listener class-name="com.jaga.pageobjectmodel.customlisteners.Listener"></listener>
	</listeners>
	<!-- The below classes TC001_CreateAccount and TC002_SignIn are used to run the test methods by a separate class -->
	<test name="CreateAccount">
		<classes>
			<class name="com.jaga.pageobjectmodel.testscripts.TC001_CreateAccount" />
		</classes>
	</test>
	<test name="SignIn">
		<classes>
			<class name="com.jaga.pageobjectmodel.testscripts.TC002_SignIn" />
		</classes>
	</test>
	<!-- The below class is used to run all the test methods by a single class -->
	<test name="TestCaseExecutionScript">
		<classes>
			<class name="com.jaga.pageobjectmodel.testscripts.TestCaseExecutionScript" />
		</classes>
	</test>

</suite> 
